* {
    margin: 0;
    padding: 0;

}

body {
    background-color: #eff1f2;
    font-family: sans-serif;
}

.content {
    grid-area: content;
}

.container {
    font-size: 1em;
    width: 100%;
    height: 100;
    height: 100vh;
    display: grid;
    grid-template-areas: "sidebar""content""footer";
    grid-template-columns: 1fr;
    grid-template-rows: 130px 800px 250px;

}

.content {
    padding: 1em;
}

.hero {
    max-width: 90 px;
    margin: 0 auto;
    text-align: center;
}

.hero img {
    width: 600px;
}

.hero h1 {
    font-size: 2em;
    font-weight: 300;
    color: #302d35;
}

.hero p {
    font-weight: 300;
    line-height: 1.3em;
    color: #000000;
    text-align: justify;
}

.action-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: 700;
    background: #567bfb;
    padding: 0.5em 2em;
    border-radius: 60px;
    margin: 1em 0;
    transition: 0.3s;
}


@media (min-width: 1040px) {
    .container {
        grid-template-areas: "sidebar content""sidebar footer";
        grid-template-rows: 1fr auto;
        grid-template-columns: 300px 1f;
    }

    .hero {
        text-align: left;
        margin: 2em 0;
    }

    .hero img {
        width: 400px;
        margin-top: 100px;
        float: right;
    }

    .hero h1 {
        font-size: 3em;
    }

    .hero p {
        width: 60%;
    }
}
